.advantage {
    /* display: flex; */
}

/* Знаю що це не вірно чекаю коли навчать як треба */
.advantage-hide {
    display: none;
}

.advantage.container {}

.advantage-list-icon {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.advatage-item-icon {
    width: 270px;
    height: 120px;
    background: var(--bcg-grey);
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.advantage-icon {}

.advatage-text-list {
    display: flex;
    gap: 30px;
}

.advantage-point {
    width: calc(100% - 3 * 30px / 4);
}

.advantage-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    font-size: 14px;
}

.advantage-item {
    color: var(--color-grey);
    line-height: 1.7;
    margin-top: 10px;
}